/* eslint-disable at-rule-no-unknown */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "title";
  src: url("./assets/fonts/AlfaSlabOne-Regular.ttf");
}
@font-face {
  font-family: "MaPolice";
  src: url("./assets/fonts/RobotoCondensed-VariableFont_wght.ttf");
}

body {
  font-family: "MaPolice", sans-serif;
  @apply text-mysecondary;
  overflow-x: hidden;
}

p {
  @apply mb-4;
}

.animate {
  transition: 0.3s ease-in-out;
}

.textShadow {
  text-shadow: 3px 3px #fee7ba;
}
